<h1>ToDo追加</h1>
<div>
  <%= form_for(@task) do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title, size: 50 %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <%= f.submit '作成' %>
  <% end %>
</div>
<p><%= link_to '一覧に戻る', tasks_url %></p>